<nav class="navbar sticky-top navbar-expand-lg bg-light">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="nav navbar-nav">
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {{ .Name }}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {{ range .Children }}
                        <li>
                            <a href="{{ .URL | relLangURL }}" {{ if $.IsHome }} data-target="{{ .URL }}" {{ end }}>
                                {{ .Name }}
                            </a>
                        </li>
                        {{end}}
                    </ul>
                </li>
                {{ else }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                </li>
                {{ end }}
            {{ end}}
            </ul>
            <span class="navbar-text"><i class="fa-solid fa-language"></i>
                {{ range $.Translations }}
                    <a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                {{ end }}
            </span>

        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
